# Compiled class files
/target/

# Compiled Java files
*.class

# Maven build directory
/.mvn/

# Gradle build directory
/.gradle/

# IntelliJ IDEA files
.idea/
*.iml
*.iws
*.ipr

# Eclipse files
.classpath
.project
.settings/

# Spring Boot Devtools
.restart/
.spring-boot-devtools.properties

# Log files
logs/
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/

# IDE files
*.iml
*.ipr
*.iws

# Package file
# *.jar
# *.war
# *.ear







